<table class="table">
  <tbody>
    <tr>
        <td>Display</td>
        <td>{{ product.dioganal }}</td>
    </tr>
  <tr>
      <td>Display type</td>
      <td>{{ product.display_type }}</td>
  </tr>
  <tr>
      <td>Protsessor</td>
      <td>{{ product.processor_freq }}</td>
  </tr>
  <tr>
      <td>Ram</td>
      <td>{{ product.ram }}</td>
  </tr>
  <tr>
      <td>Video CARD</td>
      <td>{{ product.video }}</td>
  </tr>
  <tr>
      <td>Akumlyator quvvati</td>
      <td>{{ product.time_with }}</td>
  </tr>
  </tbody>
</table>
