<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table class="table">
  <tbody>
    <tr>
      <td>Dioganal</td>
      <td>{{ product.dioganal }}</td>
    </tr>
  <tr>
      <td>Display Type</td>
      <td>{{ product.display_type }}</td>
    </tr>
  <tr>
      <td>Protsessor</td>
      <td>{{ product.processor_freq }}</td>
    </tr>
  <tr>
      <td>Ram </td>
      <td>{{ product.ram }}</td>
    </tr>
  <tr>
      <td>Video CARD</td>
      <td>{{ product.video }}</td>
  </tr>
  <tr>
      <td>Time With Out</td>
      <td>{{ product.time_with }}</td>
  </tr>
  </tbody>
</table>


</body>
</html>

