<table class="table">
  <tbody>
    <tr>
        <td>Display</td>
        <td>{{ product.dioganal }}</td>
    </tr>
  <tr>
      <td>Display type</td>
      <td>{{ product.display_type }}</td>
  </tr>
  <tr>
      <td>Ekran o'lchami</td>
      <td>{{ product.resolution }}</td>
  </tr>
  <tr>
      <td>Ram</td>
      <td>{{ product.ram }}</td>
  </tr>
  <tr>
      <td>Batareyka sig'imi</td>
      <td>{{ product.accum_volume }}</td>
  </tr>
  <tr>
      <td>Tashqi hotitira</td>
      <td>{{ product.sd }}</td>
  </tr>
  <tr>
      <td>Asosiy hotira</td>
      <td>{{ product.sd_volume_max }}</td>
  </tr>
  <tr>
      <td>Asosiy kamera MP</td>
      <td>{{ product.main_cam_mp }}</td>
  </tr>
  <tr>
      <td>Oldi Kamera MP</td>
      <td>{{ product.frontal_cam_mp }}</td>
  </tr>
  </tbody>
</table>
