<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table class="table">
  <tbody>
    <tr>
      <td>Dioganal</td>
      <td>{{ product.dioganal }}</td>
    </tr>
  <tr>
      <td>Display Type</td>
      <td>{{ product.display_type }}</td>
    </tr>
  <tr>
      <td>Ekran o'lchami</td>
      <td>{{ product.resolution }}</td>
    </tr>
  <tr>
      <td>Ram </td>
      <td>{{ product.ram }}</td>
    </tr>
  <tr>
      <td>Batareyka</td>
      <td>{{ product.accum_volume }}</td>
  </tr>
  <tr>
      <td>SD Karta</td>
      <td>{{ product.sd }}</td>
  </tr>
  <tr>
      <td>Asosiy hotira</td>
      <td>{{ product.sd_volume_max}}</td>
  </tr>
  <tr>
      <td>Asosiy kamera</td>
      <td>{{ product.main_cam_mp}}</td>
  </tr>
  <tr>
      <td>Oldi kamera</td>
      <td>{{ product.frontal_cam_mp }}</td>
  </tr>
  </tbody>
</table>


</body>
</html>

